<%=render 'shared/navbar' %>

<h1>hello Ruby on Rails </h1>

<%= link_to 'New Register', user_register_path, target: '_blank' %>
<%= link_to 'Login ', user_login_path, target: '_blank' %>
<%= link_to 'Forget Password', user_reset_path, target: '_blank' %>


